.card {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 320px;
  height: 220px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;

  backdrop-filter: blur(12px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  font-size: 18px;

  transform-style: preserve-3d;
}

@media (max-width: 700px) {
  .card {
    margin-top: 7%  ;
  }
}
