/* Styling Curved Loop */

.curved-loop-jacket {
  /* PENTING: Dibuat overlay di atas elemen lain */
  position: relative;
  z-index: 100; 
  /* Tidak ada background-color di sini, membuatnya transparan! */
  
  min-height: 120px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  /* Sesuaikan ukuran dan warna teks */
  font-size: 6rem; 
  fill: #ffffff; /* Warna teks putih */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}