.running-section {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.running-text {
  display: flex;
  width: max-content;
  animation: scrollText 25s linear infinite;
  white-space: nowrap;
}

.running-item {
  font-size: 6rem;
  font-weight: 800;
  color: #22d3ee; /* cyan-400 */
  margin-right: 5rem;
}

.highlight {
  color: white;
  text-shadow: 0 0 20px #22d3ee, 0 0 40px #22d3ee;
}

/* Animasi jalan horizontal */
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
